.item {
  display: flex;
  background-color: #1d1d1d;
  margin: 15px;
  font-family: "Nunito Sans";
}
.item > .img > span {
  transition: transform 400ms;
  transform: scale(1) rotate(0);
}
.item:hover > .img > span {
  transform: scale(1.5) rotate(-6deg);
}
.img {
  padding: 5px 30px;
  background-color: #141414;
  margin: 0 20px;
  display: flex;
  align-items: center;
  min-width: 357px;
  overflow: hidden;
}
.type {
  font-size: 0.8em;
  color: #9e9b9b;
}
.title {
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 31px;
  font-weight: 100;
}
.description {
  font-size: 1em;
  color: #9e9e9e;
  font-weight: 400;
  max-width: 500px;
}
.card {
  padding: 41px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  padding: 0;
  margin: 44px 10px 9px 10px;
  border: none;
  background-color: #1e275e;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 200ms;
}
.btn > a,
.btn:disabled {
  padding: 12px 24px;
  display: block;
  color: #e4e4e4;
  font-family: "Nunito Sans";
}
.btn:disabled {
  background-color: #212331;
  color: #868686;
}
.btn:not(:disabled):hover {
  box-shadow: 0 0 20px #4141504d;
}

@media screen and (max-width: 700px) {
  .item {
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 100%;
    justify-content: center;
    min-width: auto;
  }
  .btn_c {
    display: flex;
    justify-content: center;
  }
}
